/* Base navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.nav-toggle {
  display: none;
}

.navbar-content ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-content ul li {
  margin: 0 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.toggle-icon {
  height: 30px;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  cursor: pointer;
}

.hamburger div {
  height: 3px;
  background-color: #333;
  transition: background-color 0.3s;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .navbar-content ul {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    transition: left 0.3s ease;
  }

  .nav-toggle:checked + .hamburger + .navbar-content ul {
    left: 0;
  }

  .hamburger {
    display: flex;
    position: relative;
  }

  .hamburger div {
    background-color: #333;
  }

  .navbar-content ul li {
    padding: 10px 20px;
    margin: 0;
  }

  .dark .navbar-content ul {
    background-color: #333;
    color: #fff;
  }

  .dark .hamburger div {
    background-color: #fff;
  }
}
